body {
  font-family: Ubuntu Mono, Consolas, Courier New, monospace;
  font-size: 20px;
}
.interim-data {
  margin-left: 20px;
}
.player-input {

  & div:not(:last-child) {
    margin-bottom: 15px;
  }
  
  & button:not(:last-child),
  & input:not(:last-child) {
    margin-right: 20px;
  }
}