body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu Mono, Consolas, Courier New, monospace;
  font-size: 20px;
  background: black;
  color: white;
}
a {
  color: cornflowerblue;
  cursor: pointer;

  &:hover {
    color: slateblue;
  }
}
.root-container {
  &::before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    clip-path: ellipse(50vw 40vh at 50vw 42vh);
    background: url(../images/BackgroundFelt.jpg);
  }
}
.interim-data {
  margin-left: 20px;
}
$player-box-width: 25vw;
$player-box-height: 20vh;
.player-container {
  position: fixed;
  width: $player-box-width;
  height: $player-box-height;

  &.player-0 {
    top: 32vh;
    left: 5vw;
  }

  &.player-1 {
    top: 10vh;
    left: 22vw;
  }

  &.player-2 {
    top: 10vh;
    left: 53vw;
  }

  &.player-3 {
    top: 32vh;
    left: 70vw;
  }

  &.player-4 {
    top: 54vh;
    left: 53vw;
  }

  &.player-5 {
    top: 54vh;
    left: 22vw;
  }
}
.player-inner-container {
  position: relative;
  width: 100%;
  height: 100%;
}
$avatar-default-size: 8vw;
.avatar {
  display: block;
  position: absolute;
  width: $avatar-default-size;
  height: $avatar-default-size;

  &.in-turn {
    background: blue;
    border: 2px solid black;
    border-radius: 50%;
  }
  &.folded {
    filter: grayscale(100%);
    opacity: .6;
  }
  &.player-0 {
    top: calc(#{$player-box-height / 2} - #{$avatar-default-size / 2});
    left: -6vw;
  }
  &.player-1 {
    top: -6vw;
    left: 6vw;
  }

  &.player-2 {
    top: -6vw;
    right: 6vw;
  }
  &.player-3 {
    bottom: 0;
    right: -6vw;
  }
  &.player-4 {
    bottom: -8vw;
    right: 6vw;
  }

  &.player-5 {
    bottom: -8vw;
    left: 6vw;
  }
}
.card-stack {
  position: absolute;

  &.player-0 {
    top: -2vh;
    left: 0;
  }
  &.player-1 {
    top: 0;
    left: 0;
  }
  &.player-2 {
    top: 0;
    right: 22vh;
  }
  &.player-3 {
    top: -2vh;
    right: 12vw;
    &.flat {
      right: 26vw;
    }
  }
  &.player-4 {
    top: 6vh;
    right: 10vw;
  }
  &.player-5 {
    top: 6vh;
    left: 0;
  }
  &.community {
    top: 35vh;
    left: 30vw;
  }
}
.card {
  position: absolute;
  width: 6vw;
  height: 13vh;
  top: 0;
  left: 0;

  &:not(.flat) {
    &.card-1 {
      top: 1.5vh;
      left: 3vw;
    }
  }

  &.flat {
    top: 0;
    &.card-1 {
      left: 6.1vw;
    }
    &.card-2 {
      left: 12.2vw;
    }
    &.card-3 {
      left: 18.3vw;
    }
    &.card-4 {
      left: 24.4vw;
    }
  }
}
$chip-width: 3vw;
.chip-stacks {
  display: flex;

  &.chip-denomination-count-0 {
    display: none;
  }
  &.chip-denomination-count-1 {
    width: $chip-width;
  }
  &.chip-denomination-count-1 {
    width: $chip-width * 2;
  }
  &.chip-denomination-count-1 {
    width: $chip-width * 3;
  }
  &.chip-denomination-count-1 {
    width: $chip-width * 4;
  }

  &.player-chips {
    position: absolute;

    &.player-0 {
      top: 14vh;
      left: 0;
    }
    &.player-1 {
      top: 0;
      left: 12vw;
    }
    &.player-2 {
      top: 0;
      left: 0;
    }
    &.player-3 {
      top: 14vh;
      left: 12vw;
    }
    &.player-4 {
      top: 14vh;
      left: 0;
    }
    &.player-5 {
      top: 14vh;
      left: 12vw;
    }
  }

  &.player-bet {
    position: absolute;

    &.player-0 {
      top: 0;
      right: 0;
    }
    &.player-1 {
      bottom: 0;
      right: 0;
    }
    &.player-2 {
      bottom: 0;
      left: 0;
    }
    &.player-3 {
      top: 2vh;
      left: 0;
    }
    &.player-4 {
      top: 0;
      left: 0;
    }
    &.player-5 {
      top: 0;
      right: 0;
    }
  }
}
.chip-stack {
  width: $chip-width;
  padding-bottom: $chip-width * 0.85;
}
.chip {
  display: block;
  width: $chip-width;
  height: $chip-width;
  margin-bottom: $chip-width * -0.85;
}
.player-input {

  & div:not(:last-child) {
    margin-bottom: 15px;
  }
  
  & button:not(:last-child),
  & input:not(:last-child) {
    margin-right: 20px;
  }
}
.marker-all-in {
  width: 50px;
  height: 50px;
}
.player-input {
  position: fixed;
  top: 82vh;
  left: 1vw;
  width: 80vh;
  height: 18vh;
  color: white;
}
